@{
    ViewBag.Title = "Comming Soon";
}

<div class="row">
    <div class="col-md-12 text-center">        
        <img style="padding: 60px 0;" src="~/Content/img/coming-soon-2.jpg" />
    </div>
</div>